/*config*/
* {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}
/*root*/
:root {
   --animate-delay: 0.9s;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(92, 170, 237, 0.09);
}
/*navbar*/
.dark-mode {
  background-color: rgba(0, 43, 70, 1);
  color: white;
}

.glass-navbar {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px); /* Efek blur untuk tampilan glass */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.navbar-container h1{
    color: #009AFF;
    margin: 0;
}

.navbar-container ul{
    list-style: none;
    display: flex;
}

.navbar-container li{
    margin: 0 10px;
}

.navbar-container a{
    text-decoration: none;
    color: #009AFF;
    font-size: 12px;
}

.navbar-container a:hover{
    border-bottom: 2px solid #fff;
}
/*hiro selection*/
.hiro-container {
    text-align: center;
    margin: 50px;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: auto;
}

.hiro-container h1{
    color: #3498db;
}

.hiro-container p{
    color: #57575D;
    margin-top: 2px;
}
/*media sosial icon*/
.sosoalmed {
  width: auto;
  height: 50px;
  margin: 5% 0;
  
}
.sosoalmed ul{
 display: flex;
 justify-content: center;
}
.sosoalmed li{
  margin: 0 1.5%;
  
  
  
}
/*button project*/
.action-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #2980b9;
}
/*about me*/
.Info-me {
  width: 100%;
  height: 55px;
  display: flex;
  width: 100%;
  height: 170px;
}
.Info-about {
  margin: 10% 5%;
  color: #009AFF;
}
.Info-about h1{
}
.Info-about p{
  padding: 0 5px;
  font-size: 18px;
  color: #A9A9AC;
}
/*button scrol*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #009AFF; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/*stack*/
.stack-container {
  max-width: 800px;
  height: auto;
  padding: 40px;
  border-radius: 8px;
  margin: 1% 0;
}

.tech-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 20px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.stack {
  color: #009AFF;
}

.project-text {
  color: #009AFF;
  padding: 0 40px;
}

.project-text:hover {
  color: #007ECC;
}
/*project*/
    .project-box {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
    }
   .project-view {
      width: 45%;
      height: 300px;
      background: rgba(0, 136, 255, 0.08);
      backdrop-filter: blur(15px);
      margin: 5% auto;
      border-radius: 20px;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
      
    }
    .project-view h1{
      color: #009AFF;
      padding: 5% 10%;
    }
    .lebel {
      padding: 0 8%;
      margin: 0 5px;
     text-align: center;
     display: flex;
    }
    .lebel span{
      margin: 0 2%;
      display: flex;
    }
    .subtext {
      padding: 0 40px;
      font-size: 15px;
      color: gray; 
      margin: 4% 0;
      
    }
  .button-proj {
    padding: 10px 25px;
    text-align: center;
    background-color: #0088FF;
    margin: -10%  9%;
    border-radius: 3px;
    color: white;
  }
  .button-proj:hover {
    background-color: rgba(0, 136, 255, 0.2);
    animation-delay: 1s;
    
  }
  /*kontak*/
.contect-me {
  width: 100%;
  height: auto;
}
.contect-text {
  padding: 0 20px;
  color: #009AFF;
}
/*.kodfun-galeri {

display: flex;
height: 20rem;
gap: 1rem
}
.kodfun-galeri > div {

flex: 1;
border-radius: 1rem;
background-position: center;
background-repeat: no-repeat;
background-size: auto 100%;
transition: all .8s cubic-bezier (.25, 4, 45, 1.4);

}

.kodfun-galeri > div:hover {

flex: 5;

}*/
/*componet github stats*/
.containers {
  width: 75%;
  height: 300px;
  display: flex;
  align-content: center;
  margin: auto;
  background: rgba(0, 136, 255, 0.08);
  backdrop-filter: blur(15px);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
  border-radius: 20px;
}
.boxs {
  margin: auto;
}
.imgs {
    margin: 7% 5%;
}
.imgs img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 2px solid rgba(0, 236, 255, 1);
  
  
}
.subj {
  color: #009AFF;
}
/*github stats*/
#github-stats p{
  font-size: 18px;
}
.htmll {
    fill: #E34F26;
}
/*area responsif andro user*/
@media(max-width: 760px) {
  .stack-container {
  max-width: 800px;
  height: 220px;
  padding: 10px 40px;
  border-radius: 8px;
  margin: 19% 0;
}

.tech-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 10px;
}

.tech-stack {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.stack {
  color: #009AFF;
}

.project-text {
  color: #009AFF;
  padding: 0 40px;
}

.project-text:hover {
  color: #007ECC;
}
    .project-box {
      width: 100%;
      height: auto;
      display: block;
    }
   .project-view {
      width: 75%;
      height: 275px;
      background: rgba(0, 136, 255, 0.08);
      backdrop-filter: blur(15px);
      margin: 5% auto;
      border-radius: 20px;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
      
    }
    .project-view h1{
      color: #009AFF;
      padding: 5% 10%;
      font-size: 20px;
    }
    .lebel {
      padding: 0 8%;
      margin: 0 5px;
     text-align: center;
     display: flex;
    }
    .lebel span{
      margin: 0 2%;
      display: flex;
    }
    .subtext {
      padding: 0 40px;
      font-size: 15px;
      color: gray; 
      margin: 4% 0;
      
    }
  .button-proj {
    padding: 15px 26px;
    text-align: center;
    background-color: #0088FF;
    margin: 5% 10%;
    border-radius: 3px;
    color: white;
  }
  .button-proj:hover {
    background-color: rgba(0, 136, 255, 0.2);
    animation-delay: 1s;
    
  }
  #github-stats p{
  font-size: 10.5px;
  margin: 5% 0;
}
.imgs {
    margin: 15% 5%;
}
}
/*@media(min-width: 1020px) {
  .Ipad {
    display: flex;
  }
  .project-text {
  color: #009AFF;
  padding: 0 20px;
  font-size: 13px;
}
  .project-box {
    display: block;
  }
     .project-view {
      width: 80%;
      height: 300px;
      background: rgba(0, 136, 255, 0.08);
      backdrop-filter: blur(15px);
      margin: 5% 0;
      border-radius: 20px;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
      
    }
    .project-view h1{
      color: #009AFF;
      padding: 5% 10%;
    }
    .lebel {
      padding: 0 8%;
      margin: 0 5px;
     text-align: center;
     display: flex;
    }
    .lebel span{
      margin: 0 2%;
      display: flex;
    }
    .subtext {
      padding: 0 40px;
      font-size: 10px;
      color: gray; 
      margin: 4% 0;
      
    }
  .button-proj {
    padding: 10px 25px;
    text-align: center;
    background-color: #0088FF;
    margin: -10%  9%;
    border-radius: 3px;
    color: white;
  }
  .button-proj:hover {
    background-color: rgba(0, 136, 255, 0.2);
    animation-delay: 1s;
    
  }
}*/